<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Owners Index</title>
</head>
<body>
<h1>Owners Page</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Fist name</th>
        <th>Last name</th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="owners" type="hoangnguyen.springpetclinic.models.Owner"*/-->
    <tr th:each="owner : ${owners}">
        <td th:text="${owner?.id}">1</td>
        <td th:text="${owner?.fistName}">Nam</td>
        <td th:text="${owner?.lastName}">Nguyen</td>
    </tr>
    </tbody>
</table>
</body>
</html>