<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
<h1>Vets Page</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Fist name</th>
        <th>Last name</th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="vets" type="hoangnguyen.springpetclinic.models.Vet"*/-->
    <tr th:each="vet : ${vets}">
        <td th:text="${vet?.id}">1</td>
        <td th:text="${vet?.fistName}">Nam</td>
        <td th:text="${vet?.lastName}">Nguyen</td>
    </tr>
    </tbody>
</table>

</body>
</html>